#**Car Price Predector**

DataSet is downloaded from kaggle

**Importing libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

**Getting data**

In [2]:
df = pd.read_csv('car data.csv')
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

**Checking missing values**

In [3]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In this data set there is no null values

-----------------------------------------

**Getting categorical and numerical variables**

In [4]:
cat_var = []
num_var = []
for feature in df.columns:
    if df[feature].dtype == 'O':
        cat_var.append(feature)
    else:
        num_var.append(feature)

print(cat_var)
print('Length' , len(cat_var))
print('--------------------------')
print(num_var)
print('Length' , len(num_var))
print('--------------------------')

['Car_Name', 'Fuel_Type', 'Seller_Type', 'Transmission']
Length 4
--------------------------
['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven', 'Owner']
Length 5
--------------------------

In [5]:
for feature in cat_var:
    print(feature ," " , len(df[feature].unique()))

Car_Name   98
Fuel_Type   3
Seller_Type   2
Transmission   2

From above we sen that there are 98 unique variables in Car_name column ,So droping Car_name column

**Droping car_name**

In [6]:
df.drop('Car_Name', axis = 1 , inplace = True)

In [7]:
df.head()

   Year  Selling_Price  Present_Price  ...  Seller_Type Transmission Owner
0  2014           3.35           5.59  ...       Dealer       Manual     0
1  2013           4.75           9.54  ...       Dealer       Manual     0
2  2017           7.25           9.85  ...       Dealer       Manual     0
3  2011           2.85           4.15  ...       Dealer       Manual     0
4  2014           4.60           6.87  ...       Dealer       Manual     0

[5 rows x 8 columns]

**Treansforming Year to Years**

In [8]:
df['Years'] = 2021 - df['Year']
df.drop('Year' , axis  = 1 , inplace = True)

In [9]:
df.head()

   Selling_Price  Present_Price  Kms_Driven  ... Transmission Owner Years
0           3.35           5.59       27000  ...       Manual     0     7
1           4.75           9.54       43000  ...       Manual     0     8
2           7.25           9.85        6900  ...       Manual     0     4
3           2.85           4.15        5200  ...       Manual     0    10
4           4.60           6.87       42450  ...       Manual     0     7

[5 rows x 8 columns]

In [10]:
 from sklearn.preprocessing import OneHotEncoder,LabelEncoder

In [11]:
cat_var = [feature for feature in df.columns if df[feature].dtype == 'O']
cat_var

['Fuel_Type', 'Seller_Type', 'Transmission']

In [12]:
labelEncoder = LabelEncoder()

In [13]:
df['Fuel_Type']

0      Petrol
1      Diesel
2      Petrol
3      Petrol
4      Diesel
        ...
296    Diesel
297    Petrol
298    Petrol
299    Diesel
300    Petrol
Name: Fuel_Type, Length: 301, dtype: object

In [14]:
df['Fuel_Type'] = labelEncoder.fit_transform(df['Fuel_Type'])
df.head()

   Selling_Price  Present_Price  Kms_Driven  ...  Transmission Owner Years
0           3.35           5.59       27000  ...        Manual     0     7
1           4.75           9.54       43000  ...        Manual     0     8
2           7.25           9.85        6900  ...        Manual     0     4
3           2.85           4.15        5200  ...        Manual     0    10
4           4.60           6.87       42450  ...        Manual     0     7

[5 rows x 8 columns]

In [15]:
df = pd.get_dummies(df, drop_first=True)
df.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 8 columns]

In [16]:
from sklearn.feature_selection import mutual_info_regression

In [17]:
from sklearn.model_selection import train_test_split

Splitting dependent and independent variable

In [18]:
X = df.drop('Selling_Price' ,axis = 1)
Y = df['Selling_Price']

Train test split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(X,Y , test_size=0.2, random_state=0)

#**Feature Selection**

Feature imporetance

In [20]:
mutual_info = mutual_info_regression(X,Y)

In [21]:
mutual_data = pd.Series(mutual_info , index= X.columns )
important_feature_weight = mutual_data.sort_values(ascending = False)

In [22]:
important_feature_weight

Present_Price             1.304573
Seller_Type_Individual    0.531431
Years                     0.263063
Fuel_Type                 0.184829
Kms_Driven                0.164292
Transmission_Manual       0.094063
Owner                     0.025665
dtype: float64

We can drop owner and Transmission_Manual

In [23]:
df.head()

   Selling_Price  Present_Price  ...  Seller_Type_Individual  Transmission_Manual
0           3.35           5.59  ...                       0                    1
1           4.75           9.54  ...                       0                    1
2           7.25           9.85  ...                       0                    1
3           2.85           4.15  ...                       0                    1
4           4.60           6.87  ...                       0                    1

[5 rows x 8 columns]

In [24]:
X = df.drop('Selling_Price' ,axis = 1)
Y = df.iloc[: , 0]

In [25]:
x_train,x_test,y_train,y_test = train_test_split(X.values,Y.values , test_size=0.2, random_state=0)

In [26]:
print(x_train.shape ,"," , x_test.shape , ',' , y_train.shape, ',' , y_test.shape)

(240, 7) , (61, 7) , (240,) , (61,)

In [27]:
df.shape

(301, 8)

In [28]:
!pip install optuna

Requirement already satisfied: optuna in /usr/local/lib/python3.7/dist-packages (2.10.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from optuna) (4.62.3)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from optuna) (3.13)
Requirement already satisfied: alembic in /usr/local/lib/python3.7/dist-packages (from optuna) (1.7.5)
Requirement already satisfied: cliff in /usr/local/lib/python3.7/dist-packages (from optuna) (3.10.0)
Requirement already satisfied: colorlog in /usr/local/lib/python3.7/dist-packages (from optuna) (6.6.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from optuna) (1.19.5)
Requirement already satisfied: sqlalchemy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.27)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (21.3)
Requirement already satisfied: scipy!=1.4.0 in /usr/local/lib/python3.7/dist-packages (from optuna) (1.4.1)
Requirement already satisfied: cmaes>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from optuna) (0.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->optuna) (3.0.6)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (4.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy>=1.1.0->optuna) (1.1.2)
Requirement already satisfied: importlib-resources in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (5.4.0)
Requirement already satisfied: Mako in /usr/local/lib/python3.7/dist-packages (from alembic->optuna) (1.1.6)
Requirement already satisfied: PrettyTable>=0.7.2 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.4.0)
Requirement already satisfied: cmd2>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (2.3.3)
Requirement already satisfied: stevedore>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (3.5.0)
Requirement already satisfied: autopage>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (0.4.0)
Requirement already satisfied: pbr!=2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from cliff->optuna) (5.8.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (3.10.0.2)
Requirement already satisfied: pyperclip>=1.6 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (1.8.2)
Requirement already satisfied: attrs>=16.3.0 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (21.2.0)
Requirement already satisfied: wcwidth>=0.1.7 in /usr/local/lib/python3.7/dist-packages (from cmd2>=1.0.0->cliff->optuna) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy>=1.1.0->optuna) (3.6.0)
Requirement already satisfied: MarkupSafe>=0.9.2 in /usr/local/lib/python3.7/dist-packages (from Mako->alembic->optuna) (2.0.1)

In [29]:
import optuna
import sklearn.svm
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor

#**Hyper parameter tunning optimization**

**Optuna**

In [30]:
def get_best_model():

    def RF_objective(RF_trial):
    # Regressor = trial.suggest_categorical('Regressor', ['RandomForest', 'XGBoost'])   
    # if Regressor == 'RandomForest':
        RF_params = {
            'n_estimators'      : RF_trial.suggest_int('n_estimators', 200, 2000,10),
            'max_features'      : RF_trial.suggest_categorical('max_features' , ["auto", "sqrt","log2"]),
            'max_depth'         : int(RF_trial.suggest_float('max_depth', 10, 100, log=True)),
            'min_samples_split' : RF_trial.suggest_int('min_samples_split' ,2,14,1),
            'min_samples_leaf'  : RF_trial.suggest_int('min_samples_leaf' , 1,10,1),
            'criterion'         : RF_trial.suggest_categorical('criterion',["squared_error", "absolute_error", "poisson"]),
        }

        RF_Reg = sklearn.ensemble.RandomForestRegressor(**RF_params)

        return sklearn.model_selection.cross_val_score(RF_Reg, x_train, y_train, n_jobs=-1, cv=3).mean()

    

    def XGB_objectives(XGB_trial):
        XGB_params = {
            'n_estimators'     : XGB_trial.suggest_int('n_estimators', 0, 1000,10),
            'max_depth'        : XGB_trial.suggest_int('max_depth', 2, 25),
            'reg_alpha'        : XGB_trial.suggest_int('reg_alpha', 0, 5),
            'reg_lambda'       : XGB_trial.suggest_int('reg_lambda', 0, 5),
            'min_child_weight' : XGB_trial.suggest_int('min_child_weight', 0, 5),
            'gamma'            : XGB_trial.suggest_int('gamma', 0, 5),
            'learning_rate'    : XGB_trial.suggest_loguniform('learning_rate',0.005,0.5),
            'colsample_bytree' : XGB_trial.suggest_discrete_uniform('colsample_bytree',0.1,1,0.01),
            'nthread'          : -1
        }
        XGB_Reg = XGBRegressor(**XGB_params)
        
        return sklearn.model_selection.cross_val_score(XGB_Reg, x_train, y_train, n_jobs=-1, cv=3).mean()


    study = optuna.create_study(direction='maximize')
    study.optimize(RF_objective, n_trials=100)
    RF_trial = study.best_trial
   
    study = optuna.create_study(direction='maximize')
    study.optimize(XGB_objectives, n_trials=100)
    XGB_trial = study.best_trial


    print('Random forest Regressor')
    print('Accuracy: {}'.format(RF_trial .value))
    print("Best hyperparameters: {}".format(RF_trial .params))
    print("-------------")
    print('XGB Regressor')
    print('Accuracy: {}'.format(XGB_trial.value))
    print("Best hyperparameters: {}".format(XGB_trial.params))

In [31]:
# get_best_model()



*   Random forest Regressor
Accuracy: 0.8972698456965222

*   XGB Regressor
Accuracy: 0.9218090679050458

**Genetic Algorithm**

In [32]:
!pip install tpot

Requirement already satisfied: tpot in /usr/local/lib/python3.7/dist-packages (0.11.7)
Requirement already satisfied: stopit>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.1.2)
Requirement already satisfied: deap>=1.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.3.1)
Requirement already satisfied: xgboost>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.5.1)
Requirement already satisfied: numpy>=1.16.3 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.19.5)
Requirement already satisfied: scikit-learn>=0.22.0 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.0.1)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.1.0)
Requirement already satisfied: scipy>=1.3.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.4.1)
Requirement already satisfied: update-checker>=0.16 in /usr/local/lib/python3.7/dist-packages (from tpot) (0.18.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from tpot) (1.1.5)
Requirement already satisfied: tqdm>=4.36.1 in /usr/local/lib/python3.7/dist-packages (from tpot) (4.62.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->tpot) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->tpot) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22.0->tpot) (3.0.0)
Requirement already satisfied: requests>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from update-checker>=0.16->tpot) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.3.0->update-checker>=0.16->tpot) (1.24.3)

In [33]:
from tpot import TPOTRegressor

tpot = TPOTRegressor(generations=5, population_size=50, verbosity=2 , offspring_size= 12)
tpot.fit(x_train, y_train)
# tpot.export('tpot_boston_pipeline.py')

Optimization Progress:   0%|          | 0/110 [00:00<?, ?pipeline/s]

Generation 1 - Current best internal CV score: -3.293527103801792

Generation 2 - Current best internal CV score: -3.143309979568986

Generation 3 - Current best internal CV score: -3.143309979568986

Generation 4 - Current best internal CV score: -3.143309979568986

Generation 5 - Current best internal CV score: -3.143309979568986

Best pipeline: XGBRegressor(input_matrix, learning_rate=0.1, max_depth=2, min_child_weight=4, n_estimators=100, n_jobs=1, objective=reg:squarederror, subsample=0.9000000000000001, verbosity=0)

TPOTRegressor(generations=5, offspring_size=12, population_size=50, verbosity=2)

In [34]:
from sklearn.model_selection import ShuffleSplit
cv = ShuffleSplit(n_splits=5 , random_state= 0 , test_size=0.2)

In [35]:
tpot.score(x_train, y_train)

-0.9498246478194546

In [36]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import ShuffleSplit
from xgboost import XGBRegressor

In [37]:
XGBoost = XGBRegressor( learning_rate=0.1, max_depth=10, min_child_weight=2, n_estimators=100, n_jobs=1, objective='reg:squarederror', subsample=0.8500000000000001, verbosity=0)
XGBoost.fit(x_train , y_train)
XGBoost.score(x_test , y_test)

0.9675022053339236



*   XGBoost Regressor : Accuracy -> 0.9675022101022176

Get Accuracy of 96%

In [38]:
y_pred=XGBoost.predict(x_test)

In [39]:
import pickle

In [40]:
with open('RF_Price_Predection_model1.pkl' , 'wb') as file:
    pickle.dump(XGBoost,file)

In [41]:
with open('RF_Price_Predection_model1.pkl', 'rb') as fid:
     data3 = pickle.load(fid)

In [42]:
print(data3)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=10, min_child_weight=2, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=1,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=0.8500000000000001,
             tree_method='exact', validate_parameters=1, verbosity=0)